name: CI/CD Client

# Trigger on pushes to main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: cd client && npm ci

      - name: Run tests
        run: cd client && npm run test:ci

  build:
    name: Build
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: cd client && npm ci

      - name: Build client app
        env:
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}
          VITE_API_TOKEN: ${{ secrets.VITE_API_TOKEN }}
          VITE_POLLING_TIME: ${{ secrets.VITE_POLLING_TIME }}
          VITE_DEBOUNCED_SEARCH_TIME: ${{ secrets.VITE_DEBOUNCED_SEARCH_TIME }}
          VITE_PAGE_SIZE: ${{ secrets.VITE_PAGE_SIZE }}
        run: cd client && npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./client/dist

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    runs-on: ubuntu-latest
    # only deploy on main pushes
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
